<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <a class="" (click)="back()"><ion-icon name="arrow-back" color="light" size="large"></ion-icon></a>
    </ion-buttons>
    <ion-title>Clinica Médica</ion-title>
    <ion-title size="small" class="subtitle">Início</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding center">

  <div class="container">
    <div class="selects">
      <div class="selectBundleL">
        <ion-select class="select" label="Médico" label-placement="floating" (ionChange)="onSelectMedicoMudou($event)"
          [(ngModel)]="selecionadoMedico">
          <div *ngFor="let medico of medicos">
            <ion-select-option value="{{medico.cdUsuario}}">{{this.nomeMedico(medico.cdUsuario)}}</ion-select-option>
          </div>
        </ion-select>
        <ion-icon class="x" name="close-outline" size="large" (click)="clearSelectMedico()"></ion-icon>
      </div>
      <div class="selectBundleR">
        <ion-select class="select" label="Especialidade" label-placement="floating" (ionChange)="onSelectEspecialidadeMudou($event)"
          [(ngModel)]="selecionadoEspecialidade">
          <div *ngFor="let especialidade of especialidades">
            <ion-select-option value="{{especialidade.cdEspecialidade}}">{{especialidade.desc}}</ion-select-option>
          </div>
        </ion-select>
        <ion-icon class="x" name="close-outline" size="large" (click)="clearSelectEspecialidade()"></ion-icon>
      </div>
    </div>
    <div class="calendar">
      <div class="header">
        <div class="title">
          <h1>{{this.mesString}} {{this.ano}}</h1>
        </div>
        <p class="botoes"><ion-icon (click)="mudarMes(-1)" name="chevron-back-outline" size="large"></ion-icon><ion-icon
            (click)="mudarMes(+1)" name="chevron-forward-outline" size="large"></ion-icon></p>
      </div>


      <div class="weekdays">
        <div>Dom</div>
        <div>Seg</div>
        <div>Ter</div>
        <div>Qua</div>
        <div>Qui</div>
        <div>Sex</div>
        <div>Sáb</div>
      </div>


      <div class="grid mt-16">
        <!--
        <div class="cell empty"></div>
        <div class="cell">
          <img style="filter: hue-rotate(110deg) brightness(110%);" src="../../../assets/imagens/circulo.png">
          <div class="num">1</div>
        </div>
        <div class="cell">
          <img style="filter: saturate(70%) brightness(110%);" src="../../../assets/imagens/circulo.png">
          <div class="num">1</div>
        </div>
        -->

        <div *ngFor="let numero of numerosAntes">
          <div class="cell empty"></div>
        </div>
        <div *ngFor="let numero of numeros; index as i">
          <div *ngIf="this.fimDeSemana(i + 1) || this.antesDeHoje(i + 1); then fimDeSemana else diaUtil">
          </div>
          <ng-template #fimDeSemana>
            <div class="cell">
              <img class="img" style="filter: saturate(0) brightness(150%);" src="../../../assets/imagens/circulo.png"
                draggable="false">
              <div class="num">{{this.numeros[i]}}</div>
            </div>
          </ng-template>
          <ng-template #diaUtil>
            <div *ngIf="this.diaDisponivel(i + 1); then disponivel else indisponivel">
            </div>
            <ng-template #disponivel>
              <div (click)="this.irParaDia(i + 1)" class="cell">
                <img class="img" style="filter: hue-rotate(110deg) brightness(110%);"
                  src="../../../assets/imagens/circulo.png" draggable="false">
                <div class="num">{{this.numeros[i]}}</div>
              </div>
            </ng-template>
            <ng-template #indisponivel>
              <div class="cell">
                <img style="filter: saturate(70%) brightness(110%);" src="../../../assets/imagens/circulo.png">
                <div class="num">{{this.numeros[i]}}</div>
              </div>
            </ng-template>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ion-content>