<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Clinica Médica</ion-title>
    <ion-title size="small" class="subtitle">Menu de Administração</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid class="mt-32">
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <ion-button type="submit" [routerLink]="['/menu-admin']" expand="block">Gerenciar Atendimentos</ion-button>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <ion-button type="submit" [routerLink]="['/medicos']" expand="block">Gerenciar Médicos</ion-button>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <ion-button type="submit" [routerLink]="['/pacientes']" expand="block">Gerenciar Pacientes</ion-button>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>

  </ion-grid>
</ion-content>