<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Clinica Médica</ion-title>
    <ion-title size="small" class="subtitle">Agendamentos</ion-title>
    <ion-buttons slot="end">
      <a class="" (click)="paraLogin()"><ion-icon name="exit-outline" color="light" size="large"></ion-icon></a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="mt-32">
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="definirHorarios()" expand="block">Definir Disponibilidade</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>