<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <a class="" (click)="back()"><ion-icon name="arrow-back" color="light" size="large"></ion-icon></a>
    </ion-buttons>
    <ion-title>Clinica Médica</ion-title>
    <ion-title size="small" class="subtitle">Agendamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding center">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">agendamento_dia</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
