<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <a class="" (click)="back()"><ion-icon name="arrow-back" color="light" size="large"></ion-icon></a>
    </ion-buttons>
    <ion-title>Clinica Médica</ion-title>
    <ion-title size="small" class="subtitle">Agendamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding center">
  <ion-grid class="mt-31">
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8">
        <h1>{{this.diaHoje}} de {{this.mesHojeTexto}} de {{this.anoHoje}}</h1>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="4" class="caixa">
        <h4>Horário</h4>
      </ion-col>
      <ion-col size="4" class="caixa">
        <h4>Disponibilidade</h4>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    <ion-row style="height: 2vmin;"></ion-row>
    <div *ngFor="let horario of horarios">
      <ion-row (click)="agendar(horario)">
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <ion-grid class="botao-horario">
            <ion-row>
              <ion-col size="6" class="texto">
                <h4>{{horario}}</h4>
              </ion-col>
              <ion-col size="6" class="texto">
                <h4>Disponível</h4>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <hr class="divisor">
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>