<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <a class="" (click)="back()"><ion-icon name="arrow-back" color="light" size="large"></ion-icon></a>
    </ion-buttons>
    <ion-title>Clinica Médica</ion-title>
    <ion-title size="small" class="subtitle">Agendamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding center">
  <ion-grid class="mt-31">
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8">
        <h1>{{this.diaHoje}} de {{this.mesHojeTexto}} de {{this.anoHoje}}</h1>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="4" class="caixa">
        <h4>Horário</h4>
      </ion-col>
      <ion-col size="4" class="caixa">
        <h4>Disponibilidade</h4>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="4" class="texto">
        <h4>10:30</h4>
      </ion-col>
      <ion-col size="4" class="texto">
        <h4>Disponível</h4>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="4" class="texto">
        <h4>11:00</h4>
      </ion-col>
      <ion-col size="4" class="texto">
        <h4>Disponível</h4>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="4" class="texto">
        <h4>11:30</h4>
      </ion-col>
      <ion-col size="4" class="texto">
        <h4>Disponível</h4>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="4" class="texto">
        <h4>13:00</h4>
      </ion-col>
      <ion-col size="4" class="texto">
        <h4>Disponível</h4>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="4" class="texto">
        <h4>13:30</h4>
      </ion-col>
      <ion-col size="4" class="texto">
        <h4>Disponível</h4>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="4" class="texto">
        <h4>14:00</h4>
      </ion-col>
      <ion-col size="4" class="texto">
        <h4>Disponível</h4>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="4" class="texto">
        <h4>14:30</h4>
      </ion-col>
      <ion-col size="4" class="texto">
        <h4>Disponível</h4>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="4" class="texto">
        <h4>15:00</h4>
      </ion-col>
      <ion-col size="4" class="texto">
        <h4>Disponível</h4>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="4" class="texto">
        <h4>15:30</h4>
      </ion-col>
      <ion-col size="4" class="texto">
        <h4>Disponível</h4>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="4" class="texto">
        <h4>16:00</h4>
      </ion-col>
      <ion-col size="4" class="texto">
        <h4>Disponível</h4>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="4" class="texto">
        <h4>16:30</h4>
      </ion-col>
      <ion-col size="4" class="texto">
        <h4>Disponível</h4>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="4" class="texto">
        <h4>17:00</h4>
      </ion-col>
      <ion-col size="4" class="texto">
        <h4>Disponível</h4>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="4" class="texto">
        <h4>17:30</h4>
      </ion-col>
      <ion-col size="4" class="texto">
        <h4>Disponível</h4>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="4" class="texto">
        <h4>18:00</h4>
      </ion-col>
      <ion-col size="4" class="texto">
        <h4>Disponível</h4>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="4" class="texto">
        <h4>18:30</h4>
      </ion-col>
      <ion-col size="4" class="texto">
        <h4>Disponível</h4>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>

  </ion-grid>
</ion-content>