<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <a class="" (click)="back()"><ion-icon name="arrow-back" color="light" size="large"></ion-icon></a>
    </ion-buttons>
    <ion-title>Clinica Médica</ion-title>
    <ion-title size="small" class="subtitle">Adicionar Médico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="formGroup" (ngSubmit)="cadastrar()" class="">
    <ion-item>
      <ion-label position="stacked" class="label">Nome Completo:</ion-label>
      <ion-input type="text" formControlName="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="label">CPF:</ion-label>
      <ion-input type="text" formControlName="cpf"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="label">CRM:</ion-label>
      <ion-input type="text" formControlName="crm"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="label">Email:</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="label">Senha:</ion-label>
      <ion-input type="password" formControlName="senha"></ion-input>
    </ion-item>
    <ion-item class="mb-32">
      <ion-label position="stacked" class="label">Confirme a senha:</ion-label>
      <ion-input type="password" formControlName="senhaConfirmacao"></ion-input>
    </ion-item>

    <div *ngIf="usuario.cdUsuario != 0; then existe else naoExiste"></div>

    <ng-template #existe>
      <ion-button type="submit" expand="block" [disabled]="!formGroup.valid">Alterar</ion-button>
      <ion-button *ngIf="usuario.cdUsuario != 0" color="danger" expand="block" id="excluir">Excluir</ion-button>
      <ion-alert trigger="excluir" header="Excluir permanentemente?" [buttons]="alertButtons"
        (didDismiss)="excluir($event)"></ion-alert>

      <ion-select class="mt-16" label="Especialidade" label-placement="floating" (ionChange)="especialidadeMudou($event)">
        <div *ngFor="let especialidade of especialidades">
          <ion-select-option value="{{especialidade.cdEspecialidade}}">{{especialidade.desc}}</ion-select-option>
        </div>
      </ion-select>
      <ion-button expand="block" [disabled]="especialidade.cdEspecialidade == 0" (click)="this.addEspecialidade()">Adicionar Especialidade</ion-button>

      <ion-list class="mt-16">
        <div *ngFor="let especialidade of especialidadesMedico">
          <ion-item>
            <ion-label>{{especialidade.desc}}</ion-label>
            <ion-icon name="trash-outline" (click)="apagarEspecialidade(especialidade.cdEspecialidade)"></ion-icon>
          </ion-item>
        </div>
      </ion-list>
    </ng-template>

    <ng-template #naoExiste>
      <ion-button type="submit" expand="block" [disabled]="!formGroup.valid">Cadastrar</ion-button>
    </ng-template>
  </form>
</ion-content>